.label {
}
.radio {
}

.text {
  position: relative;
  padding: 5px 0 5px 25px;
  display: inline-block;

  &::before  {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
  }
  
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgb(128, 0, 34); /*or img or icon*/
    opacity: 0;
    transition: 0.2s;
    border-radius: 50%;
  }
}

.radio:checked + .text::after {
  opacity: 1;
}
