.label {
}
.radio {
  display: none;
}
.fake {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  position: relative;
  border-radius: 50%;
}
.fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  background-color: green; /*or img or icon*/
  opacity: 0;
  transition: 0.2s;
  border-radius: 50%;
}
.radio:checked + .fake::before {
  opacity: 1;
}
.text {
}
